body{
	margin: 0;
	padding: 0;
	background: url(pic.png);
	background-size: cover;
	background-position: center;
}

.loginbox{
	 width: 320px;
	 height: 380px;
	 background: #fff;
	 position: relative;
	 margin: 6% auto;
	 box-sizing: border-box;
	 padding: 5px;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;
	font-style: Serif;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 22px;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 16px;
}

#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}